{% extends "base.html" %}

{% block content %}
    <h1>Delete Product</h1>

    {% if user.id == product.author.id %}
        <p>Are you sure you want to delete the product: {{ product }}?</p>

        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Yes" class="btn btn-danger">
            <a class="btn btn-primary" href="{% url 'marketplace:product-detail' pk=product.id %}">No</a>
        </form>
    {% else %}
        <p>You can't delete this product!</p>
    {% endif %}
{% endblock %}